@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Signika:wght@300..700&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--clr-surface-tonal-a10);
  background-repeat: repeat;
  background-size: 1920px 1080px;
  font-family: "Inter", sans-serif;
}

/* Theme Variables */
:root {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* Custom Scrollbar! */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--clr-surface-a10);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary-a30);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-primary-a20);
}

/** Dark Theme (Default) */
@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary-a0: #0d8ce9;
    --clr-primary-a10: #4998ec;
    --clr-primary-a20: #68a4ef;
    --clr-primary-a30: #82b1f1;
    --clr-primary-a40: #99bdf4;
    --clr-primary-a50: #aecaf6;

    --clr-surface-a0: #151b23;
    --clr-surface-a0-rgb: 21, 27, 35;
    --clr-surface-a10: #2a3038;
    --clr-surface-a20: #41464d;
    --clr-surface-a30: #5a5e64;
    --clr-surface-a40: #73777c;
    --clr-surface-a50: #8d9095;

    --clr-surface-tonal-a0: #203a58;
    --clr-surface-tonal-a10: #384d69;
    --clr-surface-tonal-a20: #50617b;
    --clr-surface-tonal-a30: #67768c;
    --clr-surface-tonal-a40: #7f8b9f;
    --clr-surface-tonal-a50: #98a1b1;

    --clr-contrast-a0: #f5f5f5;
    --clr-contrast-a10: #e7e7e7;
    --clr-contrast-a20: #dadada;
    --clr-contrast-a30: #cccccc;
    --clr-contrast-a40: #bfbfbf;
    --clr-contrast-a50: #b2b2b2;

    --clr-accent: #ffc847;
  }
}

/** Light Theme */
@media (prefers-color-scheme: light) {
  :root {
    --clr-primary-a0: #0d8ce9;
    --clr-primary-a10: #368bdd;
    --clr-primary-a20: #4989d1;
    --clr-primary-a30: #5688c5;
    --clr-primary-a40: #6186ba;
    --clr-primary-a50: #6985ae;

    --clr-surface-a0: #f5f5f5;
    --clr-surface-a0-rgb: 245, 245, 245;
    --clr-surface-a10: #e7e7e7;
    --clr-surface-a20: #dadada;
    --clr-surface-a30: #cccccc;
    --clr-surface-a40: #bfbfbf;
    --clr-surface-a50: #b2b2b2;

    --clr-surface-tonal-a0: #d4dff3;
    --clr-surface-tonal-a10: #cad4e6;
    --clr-surface-tonal-a20: #c1c9d8;
    --clr-surface-tonal-a30: #b7becb;
    --clr-surface-tonal-a40: #aeb4be;
    --clr-surface-tonal-a50: #a5a9b1;

    --clr-contrast-a0: #151b23;
    --clr-contrast-a10: #2a3038;
    --clr-contrast-a20: #41464d;
    --clr-contrast-a30: #5a5e64;
    --clr-contrast-a40: #73777c;
    --clr-contrast-a50: #8d9095;

    --clr-primary-contrast-a0: #0d8ce9;
    --clr-primary-contrast-a10: #4998ec;
    --clr-primary-contrast-a20: #68a4ef;
    --clr-primary-contrast-a30: #82b1f1;
    --clr-primary-contrast-a40: #b2cbf1;
    --clr-primary-contrast-a50: #d7e6ff;

    --clr-accent: #ffc847;
  }
}
