.userQuery {
  min-height: calc(100vh - 53px);
  max-width: 1200px;
  margin: 53px auto 0 auto;
  padding: 2rem;
}

.queryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  background-color: var(--clr-surface-a0);
  padding: 1rem;
  margin: 0 auto 1rem;
  border: 1px solid var(--clr-surface-a20);
  border-radius: 10px;
}

.queryTitle {
  font-size: 1.2rem;
}

.resultsCount {
  font-size: 1rem;
  color: var(--clr-contrast-a40);
}

.searchBarDiv {
  text-align: center;
}

.searchBar {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 0.25rem 1rem;
  width: 24rem;
  margin: 0 auto;
}

.searchBar input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  color: var(--clr-contrast-a0);
  padding: 0.5rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.searchBar input::placeholder {
  color: var(--clr-contrast-a40);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.searchBar button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--clr-contrast-a0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar i {
  font-size: 0.75rem;
  color: var(--clr-contrast-a0);
  transition: color 0.3s ease;
}

.searchBar i:hover {
  cursor: pointer;
}

.courseGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  width: 100%;
}

.endOfResults {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--clr-contrast-a0);
  margin: 2rem 0;
  position: relative;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.endOfResults::before,
.endOfResults::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--clr-contrast-a30);
  margin: 0 1rem;
}

.courseCompletedTag {
  background-color: var(--clr-surface-a40);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* Theme-based SVGs */
.darkModeSvg {
  display: block;
}
.lightModeSvg {
  display: none;
}

@media (prefers-color-scheme: light) {
  .darkModeSvg {
    display: none;
  }
  .lightModeSvg {
    display: block;
  }

  .searchBar {
    background-color: var(--clr-surface-a20);
  }
}

@media (max-width: 768px) {
  .queryHeader {
    flex-direction: column;
  }

  .queryTopHeader {
    text-align: center;
  }

  .courseGrid {
    flex-direction: column;
    align-items: center;
  }

  .searchBar {
    width: 100%;
  }

  .searchBarDiv {
    width: 100%;
  }
}
