/* COURSE CARD */

.course-card {
  display: flex;
  background: var(--clr-surface-a10);
  padding: 1rem;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 240px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  transition: transform 0.2s, box-shadow 0.2s;
}

.course-card:hover {
  transform: translateY(-0.5rem); /* move card slightly up */
  background: linear-gradient(
      135deg,
      var(--clr-surface-a0) 30%,
      #2a81bf 100%
  );
  border: 1px solid var(--clr-contrast-a0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media(prefers-color-scheme: light) {
  .course-card:hover {
    background: linear-gradient(
        135deg,
        var(--clr-surface-a0) 30%,
        #75a4c6 100%
    );
    border: 1px solid var(--clr-primary-a0);
  }
}

/* COURSE IMAGE */
.course-image {
  /* background: var(--clr-surface-tonal-a20);
  aspect-ratio: 1 / 1; 
  border-radius: 5px;
  position: relative;
  width: 100%;
  max-height: 10rem;
  height: auto; */
  display: none;
}

.course-image img {
  object-fit: contain; /* center and keep aspect ratio */
}

.course-grade {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.course-completed-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.final-grade {
  font-size: 0.7rem;
  color: var(--clr-contrast-a40);
}

.letter-grade-container {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background: var(--clr-surface-a20);
}

@media(prefers-color-scheme: light) {
  .letter-grade-container {
    background: var(--clr-surface-a50);
  }
}

/* HOVER ICON */
.hover-icon {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(-45deg, rgba(5, 5, 6, 0.8), rgba(116, 116, 116, 0.8));
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.hover-icon i{
  color: #f5f5f5;
}

.hover-icon:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

.course-card:hover .hover-icon {
  background: var(--clr-primary-a0);
}

/* click hint icon on hover */
.course-card .top-right-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  color: var(--clr-contrast-a0);
  opacity: 0;
  transform: translateY(-10px) translateX(10px);
  transition: opacity 0.1s ease-in-out, transform 0.2s ease-out;
}

.course-card:hover .top-right-icon {
  opacity: 1;
  transform: translateY(0) translateX(0);
  animation: bounceIn 0.2s ease-out;
}

/* bouncing effect keyframes */
@keyframes bounceIn {
  0% {
    transform: translateY(-10px) translateX(10px);
    opacity: 0;
  }
  50% {
    transform: translateY(2px) translateX(-2px);
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

/* TOOLTIP */
.hover-icon .hover-text {
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-contrast-a50);
  color: var(--clr-surface-a0);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.hover-icon:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

/* add a triangle below the hover text */
.hover-icon .hover-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: var(--clr-contrast-a50) transparent transparent transparent;
}

/* COURSE INFO */
.course-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

/* HEADER (TITLE & TAG) */
.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CODE TAG */
.course-tag {
  background: var(--clr-primary-a0);
  color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.course-tag i {
  color: var(--clr-contrast-a0);
}

/* SEMESTER */
.semester {
  color: var(--clr-contrast-a40);
  font-size: 0.9rem;
}

.course-card:hover .semester {
  color: #f5f5f5;
}

/* SECTION */
.section-tag {
  background: var(--clr-surface-a20);
  color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.campus-tag {
  background: var(--clr-surface-a20);
  color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

/* TITLE */
.category h3 {
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
}

/* SUBTITLE - TRUNCATE AT 2 LINES */
.course-subtitle {
  color: var(--clr-contrast-a30);
  line-height: 1.2;
  max-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* TAGS */
.course-tags {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.tag {
  color: var(--clr-contrast-a0);
  border: 1px solid var(--clr-surface-a20);
  padding: .25rem .5rem;
  border-radius: 12px;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: .25rem;
}

.tag i {
  color: var(--clr-primary-a0);
  font-size: 0.7rem;
}

.completed .course-subtitle {
  display: none;
}
