.grade-submission {
  height: calc(100vh - 53px); /* full screen height minus navbar height */
  margin: 53px auto 1rem auto;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.grade-submission-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
  background-color: var(--clr-surface-a10);
  padding: 1rem;
  border: 1px solid var(--clr-surface-a20);
  border-radius: 10px;
  align-self: stretch;
}

.grade-submission-top-header {
  display: flex;
}

.grade-submission-bottom-header {
  display: flex;
}

.grade-submission-header h1 {
  align-self: center;
  margin-right: 1rem;
}

.grade-submission-header span {
  background: var(--clr-surface-a20);
  border-radius: 20px;
  align-self: center;
  padding: 0.25rem 1rem;
  border: 1px solid var(--clr-contrast-a0);
}

.no-of-classes {
  align-self: center;
}

.classes-container {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.classes-container::-webkit-scrollbar {
  display: none;
}

.classes {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: var(--clr-surface-a0);
  border: 1px solid var(--clr-surface-a20);
  border-radius: 12px;
  padding: 1rem;
  scroll-snap-align: start;
  margin: 0 1rem;
  overflow-y: auto;
}

.teaching-dropdown {
  display: none;
}

.teaching {
  justify-content: start;
  max-width: 50%;
  padding-bottom: 1rem;
}

.selected {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.course-header {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

.status-container {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background: var(--clr-surface-a20);
}

.classes-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.classes-header i {
  margin-right: 1rem;
}

.cards-container {
  height: calc(100% - 1rem);
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.classes.selected .cards-container {
  padding-bottom: 12rem;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  display: flex;
  background: var(--clr-surface-a10);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 240px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  transition: transform 0.2s, box-shadow 0.2s;
}

.class-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-surface-a30);
}

.course-tags-div {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.students {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.student-grade h3 {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2rem;
  margin: 0.2rem 0rem 0.5rem;
}

.student-info {
  font-size: 0.8rem;
  color: var(--clr-contrast-a40);
  gap: 0.5rem;
}

.email {
  padding-right: 0.5rem;
  gap: 0.5rem;
}

.email::after {
  padding-right: 0.5rem;
  gap: 0.5rem;
}

.class-header h3 {
  padding-right: 1rem;
}

.course-tag,
.section-tag {
  height: fit-content;
  white-space: nowrap;
  width: fit-content;
}

.card:hover {
  background: linear-gradient(135deg, var(--clr-surface-a0) 30%, #2a81bf 100%);
  border: 1px solid var(--clr-contrast-a0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.student-grade {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  gap: 1rem;
}

.submit-container {
  position: sticky;
  bottom: 0;
  background: var(--clr-surface-a0);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  padding-top: 1rem;
  border-top: 1px solid var(--clr-surface-a30);
  justify-content: center;
  width: 100%;
  z-index: 10;
}

.submit-btn {
  background-color: var(--clr-primary-a0);
  color: white;
  font-size: 0.85rem;
  padding: 0.7rem 1rem;
  width: 100%;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
  background-color: var(--clr-primary-a20);
}

.grade-submission .dropdown {
  position: relative;
  z-index: 3;
  width: 6rem;
  overflow: visible;
}

.grade-submission .dropdown-toggle {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid var(--clr-surface-a20);
  border-radius: 8px;
  cursor: pointer;
  background: var(--clr-surface-a20);
}

.grade-submission .dropdown-menu {
  border-radius: 8px;
  position: relative;
  top: 100%;
  left: auto;
  right: auto;
  z-index: 9999;
  background: var(--clr-surface-a0);
  border: 1px solid var(--clr-surface-a20);
  width: 100%;
  max-height: 180px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu div {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: background 0.2s;
}

.dropdown-menu div:hover {
  background: var(--clr-surface-a20);
}

.grades-submitted-message {
  text-align: center;
  padding: 2rem 1rem;
  background: var(--clr-surface-a10);
  border: 1px solid var(--clr-surface-a20);
  border-radius: 10px;
  margin-top: 2rem;
  color: var(--clr-contrast-a0);
}

.grades-submitted-message h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.grades-submitted-message p {
  color: var(--clr-contrast-a40);
  margin-top: 0.5rem;
}

.circle-check {
  font-size: 2rem;
  color: var(--clr-primary-a0);
}

.classes.completed {
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .student-grade h3 {
    font-size: 1rem;
  }

  .classes-container {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    gap: 1rem;
  }

  .classes.teaching {
    max-width: 100%;
    height: 30%;
    min-height: 30%;
    overflow-y: auto;
  }

  .classes.teaching > .classes-header {
    padding-bottom: 1rem;
  }

  .classes-header p {
    display: none;
  }

  .classes.selected {
    max-width: 100%;
    flex-grow: 1;
    height: 65%;
    min-height: 65%;
    overflow-y: auto;
    margin-bottom: 1rem;
  }

  .grade-submission .dropdown-toggle {
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    background: var(--clr-surface-a20);
    border: 1px solid var(--clr-surface-a50);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    transition: all 0.3s ease;
  }

  .submit-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
  }

  .grade-submission-top-header h1 {
    text-align: center;
    justify-self: center;
    font-size: 1rem;
  }

  .grade-submission-top-header {
    justify-content: center;
  }

  .grade-submission-bottom-header {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .grade-submission-top-header span {
    background-color: var(--clr-surface-a10);
  }
  .grade-submission-header {
    background-color: var(--clr-surface-a0);
  }
}
