:global(body) {
  background-color: var(--clr-surface-a0);
  background-image: url("../assets/imgs/unitrack-images/pattern-blue.png");
  background-repeat: repeat;
  color: var(--clr-contrast-a0);
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;
}

.student-profile {
  max-width: 1200px;
  margin: 53px auto 0 auto;
  padding: 2rem;
  width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "greetings greetings"
    "student-profile-left student-profile-right";
  align-items: start;
}

.student-profile-left {
  grid-area: student-profile-left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.student-profile-right {
  grid-area: student-profile-right;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.greetings {
  grid-area: greetings;
}

.course-image-div {
  background-color: var(--clr-surface-a10);
  padding: 1rem;
  height: fit-content;
  border-radius: 8px;
}

.course-image-div .course-image {
  background: var(--clr-surface-tonal-a20);
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  width: 100%;
  max-height: 24rem;
  height: auto;
  transition: border 0.3s ease-out, box-shadow 0.3s ease-out;
}

.course-image-div .course-image:hover {
  border: 2px solid var(--clr-contrast-a0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.course-image-div .course-image img {
  object-fit: contain;
}

.course-image-div .hover-icon {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(
    -45deg,
    rgba(5, 5, 6, 0.8),
    rgba(116, 116, 116, 0.8)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.course-image-div .hover-icon i {
  color: #f5f5f5;
}

.course-image-div .hover-icon:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

.course-image-div .course-image:hover .hover-icon {
  background: var(--clr-primary-a0);
}

@keyframes bounceIn {
  0% {
    transform: translateY(-10px) translateX(10px);
    opacity: 0;
  }
  50% {
    transform: translateY(2px) translateX(-2px);
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

.course-image-div .hover-icon .hover-text {
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-contrast-a50);
  color: var(--clr-surface-a0);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.course-image-div .hover-icon:hover .hover-text {
  opacity: 1;
  visibility: visible;
}

.course-image-div .hover-icon .hover-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: var(--clr-contrast-a50) transparent transparent transparent;
}

.credit-hours-card {
  background: var(--clr-surface-a10);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.credit-hours-card:hover {
  transform: translateY(-3px);
  background: linear-gradient(135deg, var(--clr-surface-a0) 30%, #2a81bf 100%);
  border: 1px solid var(--clr-contrast-a0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.credit-hours-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr-contrast-a0);
  flex: 1;
}

.credit-hours-text h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

.credit-hours-text strong {
  color: var(--clr-primary-a0);
}

.credit-hours-image {
  flex-shrink: 0;
}

.credit-hours-image img {
  width: 10rem;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.courses-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
}

.courses-header-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  padding-right: 1rem;
}

.courses-header-right {
  align-self: flex-end;
}

.courses h2 {
  text-align: left;
}

.courses p {
  color: var(--clr-contrast-a30);
  text-align: left;
}

.browse-courses {
  display: inline-flex;
  align-items: right;
  justify-content: flex-end;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-primary-a0);
  transition: color 0.3s ease-in-out;
  text-align: right;
}

.browse-courses:hover {
  color: var(--clr-primary-a20);
}

.browse-courses i {
  font-size: 0.65rem;
  transition: transform 0.3s ease-in-out;
  transform: translateY(5px);
}

.browse-courses:hover i {
  transform: translate(4px, 5px);
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  width: 100%;
}

.about-me-div {
  background-color: var(--clr-surface-a10);
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  transition: transform 0.3s ease;
}

.about-me-div:hover {
  transform: translateY(-3px);
  background: linear-gradient(135deg, var(--clr-surface-a0) 30%, #2a81bf 100%);
  border: 1px solid var(--clr-contrast-a0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.about-me-div h3 {
  font-size: 1.2rem;
}

.about-me-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-self: center;
  height: 100%;
}

.about-me-avatar {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
}

.about-me-content-right {
  display: flex;
  flex-direction: column;
}

.major-tag {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  background-color: var(--clr-primary-a0);
  color: #f5f5f5;
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
  width: fit-content;
  white-space: nowrap;
}

.content-info-div {
  background: var(--clr-surface-a10);
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.content-info-div:hover {
  transform: translateY(-3px);
  background: linear-gradient(135deg, var(--clr-surface-a0) 30%, #2a81bf 100%);

  border: 1px solid var(--clr-contrast-a0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.content-info-paragraph.attachment {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
  background: var(--clr-surface-a10);
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 1px solid var(--clr-surface-a20);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 100%;
  text-decoration: none;
  color: white;
}

.content-info-paragraph.attachment:hover {
  cursor: pointer;
}

.content-info-paragraph.attachment i {
  color: #d32f2f;
  font-size: 1.2rem;
}

/* PROGRESS CARD */
.progress-card {
  background: var(--clr-surface-a10);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.progress-card:hover {
  transform: translateY(-3px);
  background: linear-gradient(135deg, var(--clr-surface-a0) 30%, #2a81bf 100%);
  border: 1px solid var(--clr-contrast-a0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.progress-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.progress-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.progress-text .total-tag {
  color: var(--clr-contrast-a0);
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  line-height: 1.2;
}

.progress-text h1 {
  font-size: 2rem;
  font-weight: bold;
}

.progress-text p {
  color: var(--clr-contrast-a30);
}

.progress-text p span {
  color: var(--clr-primary-a0);
}

.progress-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pie-wrapper {
  --progress: 0;
  height: 6rem;
  width: 6rem;
  position: relative;
}

.pie-wrapper .pie {
  position: absolute;
  height: 100%;
  width: 100%;
}

.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.4rem solid var(--clr-primary-a0);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}

.pie-wrapper .pie .right-side {
  clip: rect(0, 6rem, 6rem, 3rem);
  transform: rotate(calc(min(var(--progress), 50) * 3.6deg));
}

.pie-wrapper .pie .left-side {
  clip: rect(0, 3rem, 6rem, 0);
  transform: rotate(calc(max(var(--progress) - 50, 0) * 3.6deg));
}

.pie-wrapper .label {
  background: #d7d7d7;
  border-radius: 50%;
  color: var(--clr-primary-a0);
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.pie-wrapper .label .smaller {
  font-size: 0.8rem;
  vertical-align: super;
}

.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.4rem solid rgba(200, 200, 200, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .student-profile {
    grid-template-columns: 1fr; /* Make it a single-column layout */
    grid-template-areas:
      "greetings"
      "student-profile-left"
      "student-profile-right";
  }

  .student-profile-left,
  .student-profile-right {
    width: 100%;
  }

  .credit-hours-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .credit-hours-image img {
    width: 16rem;
  }

  .progress-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .progress-text {
    align-items: center;
  }

  .about-me-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-me-avatar {
    height: 5rem;
    width: 5rem;
  }

  .course-grid {
    grid-template-columns: 1fr;
  }

  .browse-courses {
    justify-content: center;
  }
}

@media (prefers-color-scheme: light) {
  .course-image-div .course-image:hover {
    border: 2px solid var(--clr-primary-a0);
  }

  .content-info-paragraph.attachment {
    color: var(--clr-contrast-a0);
  }
}

@media (prefers-color-scheme: dark) {
  :global(body) {
    background-image: url("../assets/imgs/unitrack-images/pattern-white.png");
  }
}
